@model WebApPhoneBook.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация нового пользователя";
}

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="LoginProp"></label><br />
        <input asp-for="LoginProp" />
        <span asp-validation-for="LoginProp"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label><br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>
