@model List<PhoneBook.PhoneBook>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Записная книжка</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>

    <header class="header"></header>

    <main class="main">
        <section class="book section-offset">
            <div class="container book__container">
                <h1 class="book__title">Записная книжка</h1>
                <div class="book__content">
                    <div class="book__content-left">
                        <ul class="book__list list-reset">
                            @foreach (var b in Model)
                            {
                                <li class="book__list-items">
                                    <a class="book__list-link" href="default/record?id=@b.Id">
                                        @b.Id - @b.LastName @b.FirstName @b.MiddleName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="book__content-right"></div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer"></footer>

</body>
</html>