<div class="usermenu row align-items-center">
    <ul class="list-reset d-flex">
        <li class="usermenu__item">
            <a class="usermenu__link" asp-action="Create" asp-controller="Users">Добавить пользователя</a>
        </li>
        <li class="usermenu__item">
            <a class="usermenu__link" asp-action="Index" asp-controller="Roles">Роли</a>
        </li>

    </ul>
</div>